.btn41-43 {
  padding: 15px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid #fff;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  direction: rtl;
  z-index: -1;
  background: #fff;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: #000;
  border: 2px solid #fff;
}

.btn-41:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}